ion-card{
    border-radius: 8px;
    --border-radius: 8px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
ion-radio{
    --color-checked: rgb(147 51 234);
    --color-checked: rgb(147 51 234);
    --color:hsl(249, 80%, 67%);
    .native-wrapper .radio-icon {
      height: 50px;
      width: 50px;
    }
}
ion-button {
    border-radius: 8px;
    --border-radius: 8px;
    height: 64px;
}
.customColor{
    background: var(--customColor);
}