<ion-header class="headerCss h-[65px] flex justify-around items-center flex-row">
  <img class="h-20 w-20 object-contain" src="assets/vinmart.png" alt="" />
  <ion-searchbar></ion-searchbar>
  <ion-icon class="mic h-12 w-12" name="mic"></ion-icon>
</ion-header>


<ion-content [fullscreen]="true" md="ios" >

  <!-- <ion-toolbar class="mt-2 bg-white " > -->

    <div
      class=" mt-2 customColor rounded-r-xl max-w-fit  shadow-m">
      <p class="text-white text-xl flex justify-center items-center font-semibold pl-2 pr-2">Categories</p>
    </div>



    <div class="flex justify-start items-center flex-row overflow-x-scroll w-full mr-4 pl-3 mt-2">
      <div class="ProductCol w-70px h-full flex justify-between items-center flex-col mr-4"
        *ngFor="let catagory of allCatagory">
        <ion-avatar style="border-color: #7B68EE;" [routerLink]="['/sub-category']" id="imageDiv" class="shadow-m rounded-full border-4 flex justify-center items-center ">
          <img [src]="catagory.image" alt="" class="h-full w-full object-cover" />
        </ion-avatar>
        <p class="name text-black xxs">{{catagory.name}}</p>
      </div>
    </div>

    <!-- -------------------------------------------------------------------------------------------------------------------------- -->

    <!-- Swipers -->
  



    <!-- Main Swiper -->
<div class="main-swiper-container mt-1">
  <div class="swiper-wrapper">
    <!-- Main Slides -->
    <div class="swiper-slide" *ngFor="let banner of allBanners">
      <img alt="" class="rounded-br-lg rounded-bl-lg shadow-m w-full " [src]="banner.image">
    </div>
   
    <!-- Add more main slides here -->
  </div>

  <!-- Main Swiper Navigation Buttons -->
  <div class="main-swiper-button-prev"></div>
  <div class="main-swiper-button-next"></div>
</div>

<!-- Thumbnail Swiper -->
<div class="thumbnail-swiper-container absolute -mt-6 mx-auto flex w-full">
  <div class="swiper-wrapper flex justify-center items-center">
    <!-- Thumbnail Slides -->
    <!-- <div class=" text-black flex justify-center gap-4 mb-4" style="width: 10px !important;" > -->
      <img class="swiper-slide w-12 h-12  border-4 rounded-lg shadow-m mb-2 ml-2" *ngFor="let banner of allBanners" [src]="banner.image"/>
    <!-- </div> -->
    
    <!-- Add more thumbnail slides here -->
  </div>
</div>







    



    <!-- ---------------------------------------------------------------------------------------------------------------------- -->

    <div class="customColor rounded-r-xl max-w-fit mt-12 shadow-m">
      <p class="text-white text-xl flex justify-center items-center font-semibold pl-2 pr-2">Seasonal Sale</p>
    </div>

    <swiper-container class="mt-2" [slidesPerView]="2" [loop]="true">
      <swiper-slide size="1.5" *ngFor="let data2 of tabData2">
        <ion-row class="flex justify-center items-center">
          <ion-col class="shadow-m rounded-lg m-2">
            <img [src]="data2.img" class="rounded-xl h-40" />
          </ion-col>
        </ion-row>
      </swiper-slide>
    </swiper-container>



    <!-- ----------------------------------------------------------------------------------------------------------------------------------------------------- -->

    <div>
      <div class="customColor rounded-r-xl max-w-fit mt-3 shadow-m">
        <p class="text-white text-xl flex justify-center items-center font-semibold pl-2 pr-2">Trending</p>
      </div>

    </div>

    <swiper-container class="mt-2" [slidesPerView]="2" [loop]="true">
      <swiper-slide size="1.5" *ngFor="let data3 of tabData3">
        <ion-row class="flex justify-center items-center">
          <ion-col class="shadow-m rounded-lg m-2">
            <img [src]="data3.img" class="rounded-xl h-40" />
          </ion-col>
        </ion-row>
      </swiper-slide>
    </swiper-container>

    <!-- ------------------------------------------------------------------------------------------------------------------------ -->

    <div class="customColor rounded-r-xl max-w-fit mt-3 shadow-m">
      <p class="text-white text-xl flex justify-center items-center font-semibold pl-2 pr-2">Deals on Electronics</p>
    </div>

    <swiper-container class="mt-2" [slidesPerView]="2" [loop]="true">
      <swiper-slide size="1.5" *ngFor="let data4 of tabData4">
        <ion-row class="flex justify-center items-center">
          <ion-col class="`shadow-m rounded-lg m-2">
            <img [src]="data4.img" class="rounded-xl h-40" />
          </ion-col>
        </ion-row>
      </swiper-slide>
    </swiper-container>
  <!-- </ion-toolbar> -->
</ion-content>