.ion-toolbar{
    --background: var(--main-bg-color)!important;
}
.submit {
    width: 100%;
}

ion-searchbar {
    --border-radius: 8px;
}
.customColor{
    background: var(--customColor);
}

